<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="AWSProfileName" value="local-test-profile"/>
		<add key="AWSProfilesLocation" value="C:\Users\kingsa\source\repos\TestCase\credentials.txt"/>
	</appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


</configuration>